
</div>
<div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="ft-right pull-right">
                <p>&copy; 2017 OrchataSoft Software hecho con <i class="ion-heart" style="color:hsl(348, 100%, 61%);"></i></p>
              </div>
            </div>
            <!-- <div class="col-sm-4 col-sm-offset-3">
              <div class="ft-right">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Product Details</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">User Agreement</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>


      </div> <!-- Main -->
    </div><!-- Wrapper -->


    <!-- Jquery and Js Plugins -->
    <script type="text/javascript" src="assets/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/validator.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
  </body>
</html>